version: "3.9"

services:
  patient-service-db:
    image: postgres:latest
    container_name: patient-service-db
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: db
    ports:
      - "5432:5432"
    volumes:
      - ./volumes/patient-service-db:/var/lib/postgresql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql:ro
    networks:
      - internal

  patient-service:
    build: .
    container_name: patient-service
    restart: unless-stopped
    ports:
      - "8080:8080"
    depends_on:
      - patient-service-db
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://patient-service-db:5432/db
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: password
    networks:
      - internal

networks:
  internal:
    driver: bridge
